<nav>
  <ul class="flex">
    <li class="block">
      <LinkTo @route="shop" class="block py-12 px-6 transition-all duration-200 ease hover:bg-teal-900 hover:text-white" @activeClass="text-teal-900 font-bold">
        Notre magasin
      </LinkTo>
    </li>
    <li class="block">
      <LinkTo @route="wines" class="block py-12 px-6 transition-all duration-200 ease hover:bg-indigo-900 hover:text-white" @activeClass="text-indigo-900 font-bold">
        Nos stocks
      </LinkTo>      
    </li>
  </ul>
</nav>