<header class="flex justify-between px-8 shadow-lg border-b border-gray-200">
  <div class="flex items-center">
    <img src="/assets/icons/wine.svg" class="h-12 mr-8" />
    <Ui::HeaderUi::MenuUi />
  </div>
  <Ui::HeaderUi::ShoppingCart />
</header>